
.anchor
.DS_Store
**/*.rs.bk
**/node_modules
test-ledger

**/yarn.lock

**/.next
adrena-keypair
adrena-keypairs/admin.json
adrena-keypairs/btc.json
adrena-keypairs/eth.json
adrena-keypairs/usdc.json

.pnp.*
.yarn/

# Ignore all in target directory except target/deploy .so files used in rust tests
target/*
!target/deploy/
target/deploy/*
!target/deploy/*.so